.back-button-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom-right-radius: 0.2rem;
}

.back-button {
  border: none;
  background: none;
  color: white;
}
